
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Mapa</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    @Styles.Render("~/Content/styleSideBar.css")
    @Scripts.Render("~/Scripts/jquery-1.10.2.js", "~/Scripts/mapa.js", "~/Scripts/indexSideBar.js")
</head>
<body>
    <div id="wrapper">
        <div class="overlay"></div>

        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        AncientKingdom
                    </a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-home"></i> GoToMap</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-folder"></i> CityThief</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-file-o"></i> CityWarrior</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-cog"></i> CityWizard</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-plus"></i> Achievements <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header">Highscores</li>
                        <li><a href="#">Points</a></li>
                        <li><a href="#">Lives</a></li>
                        <li><a href="#">Chuwales</a></li>
                        <li><a href="#">Continues</a></li>
                        <li><a href="#">Designers?</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-bank"></i> BossBattle</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-dropbox"></i> cityWhiteMagic</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-twitter"></i> EditUserProfile</a>
                </li>
            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
                <span class="hamb-top"></span>
                <span class="hamb-middle"></span>
                <span class="hamb-bottom"></span>
            </button>
            <audio id="mapa" src="~/Images/Map/Trails in the Skies.mp3" controls autoplay loop></audio>

            <div>
                <button class="button" onclick="document.getElementById('mapa').play()">
                    <span class="glyphicons glyphicons-play"></span>Play
                </button>

                <button class="button" onclick="document.getElementById('mapa').pause()">
                    <span class="glyphicons glyphicons-pause"></span>Pause
                </button>

                <button class="button" onclick="document.getElementById('mapa').volume+=0.1">
                    <span class="glyphicons glyphicons-volume-up"></span>Up
                </button>

                <button class="button" onclick="document.getElementById('mapa').volume-=0.1">
                    <span class="glyphicons glyphicons-volume-down"></span>Down
                </button>
            <div>
            <a href="@Url.Content("~/NotFound/Index")"><img src="~/Images/Map/torre.png" style="width:200px; height:170px; top: 360px; right: 10px; position: absolute;" /></a>
            </div>
            <div>
                <a href="@Url.Content("~/Castle/Index")"><img src="~/Images/Map/castle.png" style="width: 297px; height: 198px;top: 210px;left: 650px;position: absolute;" /></a>
            </div>
            <div>
                <a href="@Url.Content("~/NotFound/Index")"><img src="~/Images/Map/city3.png" style="width:174px; height: 147px;top: 300px;left: 400px;position: absolute;" /></a>
            </div>
            <div>
                <a href="@Url.Content("~/NotFound/Index")"><img src="~/Images/Map/city8.png" style="height:210px; width:223px;top: 20px;right: 70px;position: absolute;" /></a>
            </div>
            <div>
                <a href="@Url.Content("~/CityThief/Index")"><img src="~/Images/Map/city6.png" style="height: 120px; width:186px;top: 30px;left: 250px;position: absolute;" /></a>
            </div>
            <div>
                <a href="@Url.Content("~/NotFound/Index")"><img src="~/Images/Map/city5.png" style="height: 135px; width: 213px; top: 550px; left: 600px; position: absolute;" /></a>
            </div>

            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
</body>
</html>
