
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Mapa</title>
    @Styles.Render("~/Content/styleMap.css")
    @Scripts.Render("~/Scripts/mapa.js")
</head>
<body>
    <audio id="mapa" src="~/Images/Map/Trails in the Skies.mp3" controls autoplay loop></audio>
    <a href="@Url.Content("~/NotFound/Index")"><img src="~/Images/Map/torre.png" style="width:200px; height:170px; top: 360px; right: 10px; position: absolute;"/></a>
    <a href="@Url.Content("~/Castle/Index")"><img src="~/Images/Map/castle.png" style="width: 297px; height: 198px;top: 210px;left: 650px;position: absolute;"/></a>
    <a href="@Url.Content("~/NotFound/Index")"><img src="~/Images/Map/city3.png" style="width:174px; height: 147px;top: 300px;left: 400px;position: absolute;"/></a>
    <a href="@Url.Content("~/NotFound/Index")"><img src="~/Images/Map/city8.png" style="height:210px; width:223px;top: 20px;right: 70px;position: absolute;"/></a>
    <a href="@Url.Content("~/NotFound/Index")"><img src="~/Images/Map/city6.png" style="height: 120px; width:186px;top: 30px;left: 250px;position: absolute;"/></a>
    <a href="@Url.Content("~/NotFound/Index")"><img src="~/Images/Map/city5.png" style="height: 135px; width: 213px; top: 550px; left: 600px; position: absolute;"/></a>
    <div>
        <button class="button" onclick="document.getElementById('mapa').play()">Play</button>
        <button class="button" onclick="document.getElementById('mapa').pause()">Stop</button>
        <button class="button" onclick="document.getElementById('mapa').volume+=0.1">Mas</button>
        <button class="button" onclick="document.getElementById('mapa').volume-=0.1">Menos</button>
    </div>
</body>
</html>
