@using AncientKingdom.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/styleLogin.css")
    @Scripts.Render("~/Scripts/prefixfree.min.js")
</head>
<body>
    <div class="body"></div>
    <div class="grad"></div>
    <div class="header">
        <div>Ancient<span>Kingdom</span></div>
    </div>
    <br>

    <div class="login">
        
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @Html.TextBoxFor(m => m.Nickname, new { @placeholder = "Nickname" })

                    @Html.PasswordFor(m => m.Password, new { @placeholder = "Contraseña" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                    <input type="submit" value="Log in" />
                <p>
                    @Html.ActionLink("Regístrate como usuario nuevo", "Register")
                </p>
                <p>
                    @Html.ActionLink("Olvidaste tu contraseña?", "ForgotPassword")
                </p>
            }
        
    </div>    

    @section Scripts {
        @Scripts.Render("http://codepen.io/assets/libs/fullpage/jquery.js")
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>