
@{
    Layout = null;
    ViewBag.Title = "Home";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>AncientKingdom</title>
    @Styles.Render("~/Content/styleHome.css")
    @Scripts.Render("~/Scripts/indexHome.js")
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <div id="holder">
        <div class="button">
            <p class="btnText" onclick="libro();">Historia</p>
            <div class="btnTwo">
                <p class="btnText2" onclick="jugar();">Jugar</p>
            </div>
        </div>
        <div class="button">
            <p class="btnText" onclick="heroes();">Heroes</p>
            <div class="btnTwo">
                <p class="btnText2" onclick="muro();">Muro</p>
            </div>
        </div>
    </div>
    <div class="perspective">
        <div class="space"></div>
    </div>

    @Scripts.Render("~/Scripts/jquery.js")
    @Scripts.Render("http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    @Scripts.Render("~/Scripts/indexHome.js")
    <audio src="~/Images/Home/Don't be Defeated by a Friend!.mp3" autoplay loop></audio>
</body>
</html>

